# Node dependencies
node_modules/

# Next.js
.next

# Vercel
.vercel

# Local environment variables
.env*.local

# TypeScript
*.tsbuildinfo
next-env.d.ts

# ESLint
.eslintcache

# Sentry
.sentryclirc
